<div class="container checkout-form">
  <div fxLayout="row" fxLayoutAlign="space-around start" class="content" >
    <span class="example-spacer"></span>
    <div class="blocks" fxFlex="40%" >
      <md-card class="demo-card demo-basic">
        <md-toolbar>Checkout Form</md-toolbar>
        <md-card-content>
          <form (ngSubmit)="runThis()" [formGroup]="checkoutForm" >
            <p>
              <md-input-container>
                <input mdInput placeholder="First Name" type="text" [formControl]="checkoutForm.controls['firstName']">
                <md-error>This field is required</md-error>
              </md-input-container>
              <md-input-container>
                <input mdInput placeholder="Last Name" type="text" [formControl]="checkoutForm.controls['lastName']">
                <md-error>This field is required</md-error>
              </md-input-container>
            </p>
            <p>
              <md-input-container>
                <input mdInput placeholder="email" type="email" [formControl]="checkoutForm.controls['email']">
                <md-error *ngIf="checkoutForm.controls['email'].hasError('required')">
                  This field is required
                </md-error>
                <md-error *ngIf="checkoutForm.controls['email'].hasError('pattern')">
                  Please enter a valid email address
                </md-error>
              </md-input-container>
            </p>
            <p>
              <md-input-container>
                <input mdInput required placeholder="Address" type="text" [formControl]="checkoutForm.controls['address1']">
                <md-error>This field is required</md-error>
              </md-input-container>
              <md-input-container >
                <input mdInput placeholder="Address 2"/>
              </md-input-container>
            </p>
            <table cellspacing="0"><tr>
              <td><md-input-container >
                <input mdInput required placeholder="City" type="text" [formControl]="checkoutForm.controls['city']">
                <md-error>This field is required</md-error>
              </md-input-container></td>
              <td><md-input-container >
                <input mdInput required placeholder="State" type="text" [formControl]="checkoutForm.controls['state']">
                <md-error>This field is required</md-error>
              </md-input-container></td>
              <td><md-input-container >
                <input mdInput required placeholder="Postal Code" type="text"
                       [formControl]="checkoutForm.controls['postalCode']">
                <md-error>This field is required</md-error>
              </md-input-container></td>
            </tr></table>
            <P>
              <md-input-container>
                <input mdInput placeholder="Credit Card Number"
                       [formControl]="checkoutForm.controls['creditCardNumber']">
                <md-error *ngIf="checkoutForm.controls['creditCardNumber'].hasError('required')">
                  This field is required
                </md-error>
                <md-error *ngIf="checkoutForm.controls['creditCardNumber'].hasError('minlength')
                && !checkoutForm.controls['creditCardNumber'].hasError('pattern')">
                  Credit Card number should be 16 digits long
                </md-error>
                <md-error *ngIf="checkoutForm.controls['creditCardNumber'].hasError('maxlength')
                && !checkoutForm.controls['creditCardNumber'].hasError('pattern')">
                Credit Card number should be 16 digits long
                </md-error>
                <md-error *ngIf="checkoutForm.controls['creditCardNumber'].hasError('pattern')">
                Only positive numbers are accepted
                </md-error>
              </md-input-container>
              <md-input-container>
                <input mdInput placeholder="CCV" type="password" [formControl]="checkoutForm.controls['ccvNumber']">
                <md-error *ngIf="checkoutForm.controls['ccvNumber'].hasError('required')">
                  This field is required
                </md-error>
                <md-error *ngIf="checkoutForm.controls['ccvNumber'].hasError('minlength') &&
                   !checkoutForm.controls['ccvNumber'].hasError('pattern')">
                  CCV number should be 3 digits long
                </md-error>
                <md-error *ngIf="checkoutForm.controls['ccvNumber'].hasError('maxlength')&&
                   !checkoutForm.controls['ccvNumber'].hasError('pattern')">
                CCV number should be 3 digits long
                </md-error>
                <md-error *ngIf="checkoutForm.controls['ccvNumber'].hasError('pattern') ">
                Only positive numbers are accepted
                </md-error>
              </md-input-container>
            </P>
            <button [disabled]="!checkoutForm.valid" type="submit" md-raised-button>Submit</button>
          </form>
        </md-card-content>
      </md-card>
    </div>
    <span class="example-spacer"></span>
  </div>
</div>

