<md-toolbar color = "primary" >
  <button md-icon-button>
    <md-icon [routerLink]="['/home']">home</md-icon>
  </button>
  <h2 class = "title">{{title}}</h2>
  <span class="example-spacer"></span>
  <md-input-container class="search-box" color="accent" floatPlaceholder="never">
    <input class="search-box-input" type="text" mdInput placeholder="Search by title, author or keyword">
  </md-input-container>
  <md-select class="search-by-dropdown" placeholder="By Keyword" floatPlaceholder="never" >
    <md-option value="1" >By Keyword</md-option>
    <md-option value="2" >By Title</md-option>
    <md-option value="3" >By Author</md-option>
  </md-select>
  <button md-icon-button>
    <md-icon [routerLink] ="['/search-result']">search</md-icon>
  </button>
  <span class="example-spacer"></span>
  <button md-button [mdMenuTriggerFor]="menu">Category</button>
  <md-menu #menu="mdMenu">
    <button md-menu-item [routerLink]="['/category']">Fiction</button>
    <button md-menu-item [routerLink]="['/category']">Non Fiction</button>
    <button md-menu-item [routerLink]="['/category']">Fantasy</button>
    <button md-menu-item [routerLink]="['/category']">AutoBiography</button>
    <button md-menu-item [routerLink]="['/category']">Humor</button>
    <button md-menu-item [routerLink]="['/category']">Adult</button>
    <button md-menu-item [routerLink]="['/category']">Science</button>
    <button md-menu-item [routerLink]="['/category']">History</button>
  </md-menu>
  <button md-button [routerLink]="['/shopping-cart']">
    <md-icon>shopping_basket</md-icon>
    <span>Go to cart</span>
  </button>
</md-toolbar>
<router-outlet></router-outlet>
